
		<header>
			<style>
				#intro {
					background-image: url(https://images.unsplash.com/photo-1496096265110-f83ad7f96608?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
					height: 30vh;
				}

				/* Height for devices larger than 576px */
				@media (min-width: 992px) {
					#intro {
						margin-top: -58.59px;
					}
				}

				.navbar .nav-link {
					color: #fff !important;
				}
			</style>

			{{#if isLoggedIn }}
  {{> privateNavbar }}
{{else}}
  {{> publicNavbar }}
{{/if}}

			<!-- Background image -->
			<div id="intro" class="bg-image shadow-2-strong">
				<div
					class="mask d-flex align-items-center h-100"
					style="background-color: rgba(0, 0, 0, 0.6)"
				>
					<div class="container">
						<div class="row justify-content-center">
							<div class="text-center text-white mt-10">
								<h1>BLOGS</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Background image -->
		</header>
		<main>
			<section class="text-center"></section>
			<!--Section: Content-->
			<div class="card m-5">
				<div class="card-header d-flex justify-content-between flex-row">
					<h2>Title</h2>
					<p>posted by NAME on DATE</p>
				</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Integer posuere erat a ante.
						</p>
						</footer>
					</blockquote>
				</div>
				<div class="accordion">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button
								class="accordion-button"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseOne"
								aria-expanded="true"
								aria-controls="collapseOne"
							>
								comments
							</button>
						</h2>
						<div
							id="collapseOne"
							class="accordion-collapse collapse show"
							aria-labelledby="headingOne"
							data-bs-parent="#accordionExample"
						>
							<div class="accordion-body"></div>
						</div>
					</div>
				</div>
			</div>
            <div class="card m-5">
				<div class="card-header d-flex justify-content-between flex-row">
					<h2>Title</h2>
					<p>posted by NAME on DATE</p>
				</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Integer posuere erat a ante.
						</p>
						</footer>
					</blockquote>
				</div>
				<div class="accordion">
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading2">
							<button
								class="accordion-button"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapse2"
								aria-expanded="true"
								aria-controls="collapse2"
							>
								comments
							</button>
						</h2>
						<div
							id="collapse2"
							class="accordion-collapse collapse show"
							aria-labelledby="heading2"
							data-bs-parent="#accordionExample"
						>
							<div class="accordion-body"></div>
						</div>
					</div>
				</div>
			</div>
            <div class="card m-5">
				<div class="card-header d-flex justify-content-between flex-row">
					<h2>Title</h2>
					<p>posted by NAME on DATE</p>
				</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Integer posuere erat a ante.
						</p>
						</footer>
					</blockquote>
				</div>
				<div class="accordion">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button
								class="accordion-button"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseOne"
								aria-expanded="true"
								aria-controls="collapseOne"
							>
								comments
							</button>
						</h2>
						<div
							id="collapseOne"
							class="accordion-collapse collapse show"
							aria-labelledby="headingOne"
							data-bs-parent="#accordionExample"
						>
							<div class="accordion-body"></div>
						</div>
					</div>
				</div>
			</div>
            <div class="card m-5">
				<div class="card-header d-flex justify-content-between flex-row">
					<h2>Title</h2>
					<p>posted by NAME on DATE</p>
				</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Integer posuere erat a ante.
						</p>
						</footer>
					</blockquote>
				</div>
				<div class="accordion">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button
								class="accordion-button"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseOne"
								aria-expanded="true"
								aria-controls="collapseOne"
							>
								comments
							</button>
						</h2>
						<div
							id="collapseOne"
							class="accordion-collapse collapse show"
							aria-labelledby="headingOne"
							data-bs-parent="#accordionExample"
						>
							<div class="accordion-body"></div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!--Footer-->
		<footer class="bg-light text-lg-start">
			<div class="text-center py-4 align-items-center">
				<p>Follow MDB on social media</p>
				<a
					href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
					class="btn btn-primary m-1"
					role="button"
					rel="nofollow"
					target="_blank"
				>
					<i class="fab fa-youtube"></i>
				</a>
				<a
					href="https://www.facebook.com/mdbootstrap"
					class="btn btn-primary m-1"
					role="button"
					rel="nofollow"
					target="_blank"
				>
					<i class="fab fa-facebook-f"></i>
				</a>
				<a
					href="https://twitter.com/MDBootstrap"
					class="btn btn-primary m-1"
					role="button"
					rel="nofollow"
					target="_blank"
				>
					<i class="fab fa-twitter"></i>
				</a>
				<a
					href="https://github.com/mdbootstrap/mdb-ui-kit"
					class="btn btn-primary m-1"
					role="button"
					rel="nofollow"
					target="_blank"
				>
					<i class="fab fa-github"></i>
				</a>
			</div>

			<!-- Copyright -->
			<div
				class="text-center p-3"
				style="background-color: rgba(0, 0, 0, 0.2)"
			>
				© 2020 Copyright:
				<a class="text-dark" href="https://mdbootstrap.com/"
					>MDBootstrap.com</a
				>
			</div>
			<!-- Copyright -->
		</footer>
		<!--Footer-->

